body {
  font-family: system-ui, sans-serif;
  background: #f9f5f0;
  margin: 2rem;
}

h1 {
  text-align: center;
  height: 5vh;
  font-size: 50px;
  color: #161b33;
}

#flashcard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.card {
  width: 300px;
  height: 250px;
  perspective: 1000px;
  cursor: pointer;
  color: #161b33;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: white;
  font-size: 30px;
}

.card-back {
  background: #a69cac;
  transform: rotateY(180deg);
   color: #161b33;

}