body {
          font-family: Arial, Helvetica, sans-serif;
        }

        /* Fixed sidenav, full height */
        .sidenav {
          height: 100%;
          width: 100%;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #0d0c1d;
          overflow-x: hidden;
          padding-top: 100px;

        }

        /* Style the sidenav links and the dropdown button */
        .sidenav a, .dropdown-btn {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 20px;
          color: #797979;
          display: block;
          border: none;
          background: none;
          width: 100%;
          cursor: pointer;
          outline: none;
          text-align: center;
          padding: 20px;
        }

        /* On mouse-over */
        .sidenav a:hover, .dropdown-btn:hover {
          color: #f1f1f1;
        }

        /* Main content */
        .main {
          font-size: 20px; /* Increased text to enable scrolling */
          padding: 0px 10px;
        }

        /* Add an active class to the active dropdown button */
        .active {
          background-color: #36013f;
          color: white;
        }

        /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
        .dropdown-container {
          display: none;
          background-color: #36013;
          padding-right: 40px;
          padding-bottom: 80px;
        }

        /* Optional: Style the caret down icon */
        .fa-caret-down {
          float: right;
          padding-right: 8px;
        }

        /* Some media queries for responsiveness */
        @media screen and (max-height: 700px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
          .sidenav {padding-bottom: 15px;}

        }

        h1 {
          text-align: center;
        }