body {
   background-color: white;
}

card  {
   aspect-ratio: 16 / 9;
   object-fit: cover;
}

@media (max-width: 767px); {
   card img-fit {
      aspect-ratio: 1.45 / 1;
   }
}

img{
       width: 100%;
       height: 25vh;
       object-fit: cover;
    }
img-fit  {
   aspect-ratio: 16 / 9;
   object-fit: cover;
}



